.input-card {
    width: 80%;
    border-radius: 8px;
    background-color: rgb(252, 252, 252);
    margin: 0px auto;
    padding: 10px 0 30px ;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(134, 134, 134);
}.input-card input{
    outline: none;
    width: 60%;
    background-color: rgb(252, 252, 252);
    display: inline-block;
    margin: 15px auto;
    padding: 10px 20px 5px 2px;
    border: none;
    border-bottom: 1px rgb(63, 0, 92) solid;
}input::placeholder {
    word-spacing: 2px;
}