table {
    margin: 0 auto;
    border-spacing: 0px;
    width: 100%;
}
table td{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(243, 243, 243);
}.header-table {
    color: rgb(122, 121, 121);
    background-color: rgb(243, 243, 243);
    font-size: 14px;
}.body-table {
    font-size: 12px;
    
}td:first-child {
    text-align: start;
    width: 40%;
    padding-left: 30px;
}td:nth-child(2) {
    width: 30%;
}td:nth-child(3) {
    width: 30%;
}